name: Environment variables
on: push
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      BRANCH: main # ジョブレベルで環境変数を定義
    steps:
      - run: echo "${env.BRANCH}"
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.BRANCH }} # ステップレベルでジョブの環境変数を参照